* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #526D82;
    height: 100vh;
    padding: 0;
    color: white;
    width: 25%;
}

.main-content {
    height: 12%;
}

#content {
    background-color: #ddd;
    padding: 20px;
    width: 75%; 
    margin-left: 25%; 
    transition: all 0.4s;
}

.bottom-border {
    border-bottom: 1px groove #eee;
    font-size: large;
    font-weight: 500;
}

.caixa__alta {
    text-transform: uppercase;
    font-weight: 300;
}

.caixa__alta_submenu {
    text-transform: uppercase;
    font-size: 0.75rem;
    opacity: 0.8;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar ul li {
    font-weight: 400;
}

.sidebar li .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-link-submenu:hover {
    background-color: #9DB2BF;
    width: 100%;
    padding: auto auto 0 0;
}

.sidebar-link:hover {
    background-color: #c5ced3;
    width: 100%;
    padding: auto auto 0 0;
}

.ajuste-ul-sidebar {
    margin-top: 25px;
}

.nav-ajuste-cepadsi {
    margin-top: 10px;
    padding-bottom: 10px;
}

.nav-ajuste {
    list-style: none;
    text-align: center;
    margin-top: 25px;
}

.ajuste-ul-nav {
    margin-top: 8px;
}

.content {
    margin-top: 200px;
    margin-right: 2%;
}

.main-content-container {
    margin-left: 320px; 
    transition: margin-left 0.4s;
}

.cor {
    color: #526D82;
}

.imagem {
    width: 8.75rem;
    height: 2.188px;
}

#check {
    display: none;
}

    #check:checked ~ .sidebar_menu {
        left: 0;
    }

.intranet-none {
    display: auto;
}



.menu-toggler {
    display: none;
}

#fixo {
    width: 400px;
    overflow: hidden;
}

#rolavel {
    height: 800px;
    width: 417px;
    overflow-y: scroll;
}

@media (max-width: 1200px) {

    .main-content-container {
        margin-left: 30%; 
    }
}

    .sidebar {
        width: 30%; 
    }

    #content {
        margin-left: 30%;
        width: 70%;
    }

    .responsividade {
        width: 30%;
    }

    .ajuste-ul-sidebar {
        margin-top: 40px;
    }

    #fixo {
        width: 300px;
    }

    #rolavel {
        width: 317px;
    }
}

@media(max-width: 920px) {
    .menu-toggler {
        display: block;
    }
}

@media(max-width: 1000px) {
    .intranet-none {
        display: none;
    }
}

@media(max-width: 820px) {
    .nav-ajuste-pai {
        padding-top: 50px;
        padding-left: 15%;
    }

    .main-content {
        height: 10%;
    }

    .nav-ajuste-cepadsi {
        padding-right: 13%;
        padding-bottom: 30px;
    }

    .calendar-container {
        width: 100%;
    }
}

.card-principal {
    width: auto; 
}
